body {
  margin:0;
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

canvas {
  width:640px;
  height:400px;
  image-rendering: pixelated;
  border:3px solid #333;
}
